################################################################################
#
# Copy this file to .env.local and replace the xxxx credentials with 
# your own before running the application.
#
# .env.local won't be tracked by git so you'll have to make use of
# some other mechanism to copy your secrets if you are relying
# solely on git.
#
# Because we are using Create React App, any environment variables created
# must start with REACT_APP_.
#
# Additional Documentation:
# https://github.com/motdotla/dotenv
# https://create-react-app.dev/docs/adding-custom-environment-variables/
#
################################################################################

# Google Maps
REACT_APP_GOOGLE_MAPS_API_KEY=xxxxXXXX

# Firebase
REACT_APP_FIREBASE_API_KEY=xxxxXXXX
REACT_APP_FIREBASE_AUTH_DOMAIN=xxxxXXXX.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://xxxXXXX.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=xxxxXXXX
REACT_APP_FIREBASE_STORAGE_BUCKET=xxxxXXXX.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=xxxxXXXX
REACT_APP_FIREBASE_APP_ID=xxxxXXXX:xxxxXXXX:xxxxXXXX:xxxxXXXX
REACT_APP_FIREBASE_SERVICE_ACCOUNT_KEY_PATH="C:\some\path\to\serviceAccountKey_test.json"
REACT_APP_SENTRY_DSN=https://xxxxxx@xxxxxx.ingest.sentry.io/xxxxxx
