# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.production

# turbo
.turbo

# firebase
.firebaserc
serviceAccountKey*.json
firebase-debug.log
firestore-debug.log
firestore-coverage.html
.firebase-debug.log.icloud
hosting.*
GoogleService-Info*.plist
google-services*.json
ui-debug.log
.firebase

# expo/mobile
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
app.config.js
.expo-shared

# apps/cloud-functions
apps/cloud-functions/functions/lib/

# packages/utils
packages/utils/dist/
