body,
html {
  font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

[data-reach-combobox-input] {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.25rem;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: inherit;
  background-color: #fff;
}

[data-reach-combobox-input]:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}

[data-reach-combobox-input]:hover {
  border-color: #cbd5e0;
}

[data-reach-combobox-input]:disabled,
[data-reach-combobox-input]:disabled:focus,
[data-reach-combobox-input]:disabled:hover,
[data-reach-combobox-input][aria-disabled="true"],
[data-reach-combobox-input][aria-disabled="true"]:focus,
[data-reach-combobox-input][aria-disabled="true"]:hover {
  opacity: 0.4;
  cursor: not-allowed;
}

.pulse {
  display: inline-block;
  -moz-animation: pulse 2s infinite linear;
  -o-animation: pulse 2s infinite linear;
  -webkit-animation: pulse 2s infinite linear;
  animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rw-widget-container {
  border-width: 2px;
  border-color: #cbd5e0;
}

.rw-select-bordered {
  border-left-width: 2px;
  border-left-color: #cbd5e0;
}
