.App-header {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  min-height: 5vh;
  display: flex;
  align-items: center;
}

.App-header-nav {
  margin-left: auto;
  margin-right: 20px;
}

.App-header-nav ul {
  padding-left: 0;
}

.App-header-nav li {
  list-style: none;
}

.App-header-nav a {
  color: inherit;
  font-size: 0.7rem;
  font-weight: 500;
  text-decoration: none;
}

.App-header-nav .FindYourSchool-link {
  border-radius: 12px;
  padding: 6px 12px;
  background-color: rgba(240, 128, 128, 0.2);
  color: rgb(240, 128, 128);
}
