.SchoolListItem-wrapper {
  background-color: white;
  list-style: none;
  flex: 0 1 33%;
}

.SchoolListItem-wrapper a {
  color: #808080;
  font-size: 0.8rem;
  text-decoration: none;
}

.SchoolListItem-wrapper:hover .SchoolListItem {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
}

.SchoolListItem {
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 12px;
  margin: 8px;
}
